@import "src/components/UI/buttons/button/mixins/yellowButton";

.restaurantsButton{
  @include yellowButton;

  .restaurantsButton__arrow{
    scale: 0.6;
  }
  .restaurantsButton__text{
    font-size: small;
    text-align: start;
  }
}


