.cart {
  position: relative;
  height: calc(100vh - 130px);
  background-color: #fff;
  padding: 1em;


  display: flex;
  flex-direction: column;


  .cart__cartHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5em 1em;
    flex-basis: auto;
    .cartHeader__header {

    }

    .cartHeader__headerButton {
      scale: 0.8;
      color: #626262;

    }
  }

  .cart__emptyCartMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .cart__cartItems {
    overflow-y: scroll;
    padding: .2em;
    height: 100%;
  }

  .cart__cartBottom {
    flex-basis: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    font-weight: 600;
    padding: 1em;
    margin: 1em;
    border: 1px solid #eeeeee;
    border-radius: var(--border-radius-val);

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    &:hover {
      cursor: pointer;
      background-color: #ffe505;
    }

    &:active {
      background-color: #efefa2;
    }
  }
}