@mixin categoriesList {
  .categoriesList__item {
    padding: 1em 1em;
    border-radius: var(--border-radius-val);

    &:hover {
      background-color: #ffffff;
      cursor: pointer;
    }

    &:active {
      background-color: #d0d0d0;
    }
  }
}

.menuCategories {
  margin-right: 20px;

  .menuCategories__header {
    margin-bottom: 1em;
  }

  .menuCategories__categoriesList {
    @include categoriesList
  }
}