.RestaurantMenu {
  display: flex;
  justify-content: center;

  .RestaurantMenu__leftMenu {
    display: block; //todo @media block/none
    //border: 1px solid lightgray;
    top:90px;
    width: 220px;
    height: calc(100vh - 130px);
    position: sticky;
    //margin-left: 32px;
    margin-bottom: 32px;
  }

  .RestaurantMenu__content {
    width: 892px; //todo @media 1200/800
    max-width: 1000px;
    .RestaurantMenu__contentItem{
      height: 100px;
    }
  }

  .RestaurantMenu__cart {
    border-radius: var(--border-radius-val);
    box-shadow:
            0 0  0 2px rgb(255,255,255),
            0.3em 0.3em 1em rgba(0,0,0,0.3);

    display: block; //todo @media block/none
    top:90px;
    width: 380px;
    height: calc(100vh - 130px);
    position: sticky;
    margin: 0 1em .5em;
  }
}