@mixin smallRestaurantCard {
  .restaurantCard {
    //height: 100px;
    height: 100px;
    width: 600px;

    img {

    }

    .restaurantCard__infoLayout {
      .infoLayout__info {
        max-width: 100%;

        .infoLayout__name {

        }

        .infoLayout__description {
          display: none;
        }
      }
    }
  }

  @media screen and (max-width: 1000px) {
    .restaurantCard{
      width: 100%;
      .restaurantCard__infoLayout{
        .infoLayout__info{
          //max-width: 100%;
          .infoLayout__name{
            font-size: 30px;
          }
        }
      }
    }
  }

}