.location {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;


  .location__selectedLocation {
    padding: .5em 1em;
    cursor: pointer;
    background-color: lightblue;
    border-radius: var(--border-radius-val);
    display: flex;
    align-items: center;
    &:hover{
      background-color: lightgray;
    }
  }

  .location__locationNav {
    background-color: white;
    padding: 1em;
  }
}