.location {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  .location__selectedLocation {
    padding: .5em 1em;
    cursor: pointer;
    background-color: lightblue;
    border-radius: var(--border-radius-val);
    display: flex;
    align-items: center;
    &:hover{
      background-color: lightgray;
    }
  }

  .location__locationNav {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 1em 0;
  }
}