@import "src/components/restaurantMenu/categories/menuCategories";

.navMenu{
  .navMenu__navMenuButton{
    padding: 0 .5em;
    border-radius: var(--border-radius-val);
    cursor: pointer;
    border: 1px solid red;
    color: red;
    &:hover{
      background-color: #ffe0e0;
    }
    &:active{
      background-color: #ffcaca;
    }
  }
  .navMenu__modalContent{
    @include categoriesList
  }
}
