@import "src/components/restaurantCard/smallRestaurantCard";

.restaurantList {
  padding: 0 .5em ;
  .restaurantList__header {
  margin: 1em 0 3em;
  }

  .restaurantList__item {
    margin-bottom: 2em;
    @include smallRestaurantCard;

    &:hover {
      cursor: pointer;
      scale: 1.05;
    }
  }
}