.languageSwitcher{
  position: relative;
  .languageSwitcher__button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5em 1em;
    border-radius: var(--border-radius-val);
    &:hover{
      background-color: lightgray;
      cursor: pointer;
    }
  }
  .languageSwitcher__languagesList{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: var(--border-radius-val);
    padding: .5em;
    position: absolute;
    .languagesList__item{
      min-width: 60px;
      padding: .5em;
      border-radius: var(--border-radius-val);
      &:hover{
        background-color: lightgray;
        cursor: pointer;
      }
    }
  }

}