.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow-y: unset;
}

.myModalHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.myModalContent {
    min-width: 600px;
    padding: 15px;
    background: white;
    border-radius: var(--border-radius-val);
    display: flex;
    flex-direction: column;
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
@media screen and (max-width: 800px){

    .myModalContent {
        min-width: unset;
        width: 100%;
    }
}