.navPanel__content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 20px;
  background-color: white;
  border-bottom: 1px solid #e0e0e0;

  .navPanel__header {
    width: 100%;
    height: 70px;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    .navPanel__leftBlock {
      display: flex;
      flex-direction: row;
    }

    .navPanel__rightBlock {
      display: flex;
      flex-direction: row;
    }

    .navPanel__navPanelItem {
      height: 40px;
      padding: 0 25px 0 0;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}

@media screen and (max-width: 800px) {
  .navPanel__content {
    .navPanel__header {
      .navPanel__navPanelItem {
        padding: .1em;
      }
    }
  }

}