.navPanel_content {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  padding: 0 20px;
  background-color: white;
  border-bottom: 1px solid #e0e0e0;

  .navPanel_header {
    width: 100%;
    height: 70px;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    .navPanel_leftBlock {
      display: flex;
      flex-direction: row;
    }

    .navPanel_rightBlock {
      display: flex;
      flex-direction: row;
    }

    .navPanel_navPanelItem {
      height: 40px;
      padding: 0 25px 0 0;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}
