.menuByCategories{
  display: flex;
  flex-direction: column;

  .menuByCategories__header{
    padding: 1em .5em;
  }
  .menuByCategories__productList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}