.myYMaps {
  .myYMaps_searchRoot {
    display: flex;
    position: relative;
    margin-bottom: 2em;
    height: 40px;

    .searchRoot_searchFieldBox {
      flex-grow: 1;
      position: relative;
      margin-right: 1em;
      height: 100%;
      border: 1px solid #ccc;
      border-radius: var(--border-radius-val);

      input {
        outline: none;
        border: none;
        height: 100%;
        width: 100%;
        padding: 1em;
        box-shadow: inset 0 1px 3px 0 rgb(0 0 0 / 20%);
      }

      .searchFieldBox_titleBox {
        display: none;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        //padding: 1em;
        background: #ccc;

        p {
          flex-grow: 1;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }


        button {
          margin-left: 1em;
        }
      }

      .searchFieldBox_titleBox_show {
        display: flex;
      }

    }


  }

  .myYMaps_mapRoot {
    position: relative;
    .mapRoot_placeMark {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -100%);
      z-index: 1200;
      font-size: 35px !important;
      cursor: grab;
    }
  }

}

