.navCart {
  display: none;
  .navCart__button {
    padding: .5em 1em;
    border: 1px solid #eeeeee;
    border-radius: var(--border-radius-val);
    background-color: yellow;
    font-weight: 600;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    &:hover{
      background-color: #ffe505;
      cursor: pointer;
    }
  }

  .navCart__navCartMenu {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: .5em;
    min-height: 400px;
    min-width: 400px;
    .navCartMenu__item {

    }
  }
}

@media screen and (max-width: 1500px) {
  .navCart {
    display: block;
  }
}