@mixin smallProductCard {
  .productCard {
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 80px;
    padding: .5em;
    margin: .1em 0;
    border: 1px solid #efefef;
    overflow-y: hidden;

    .productCard__productData {
      display: flex;
      flex-direction: row;

      .productData__imageDiv {
        img {
          width: calc(80px - 1em);
          min-height: 0;
        }
      }

      .productData__textInfo {
        display: flex;
        flex-direction: column;
        margin: 0 .5em;

        .textInfo__price {

        }

        .textInfo__name {

        }

        .textInfo__weight {

        }
      }

    }

    .productCard__buttons {
      display: flex;
      align-items: center;
      margin-top: 0;
    }
  }
}