.purchase{
  margin: 1em;
  .purchase__back-button{
    display: flex;
    padding: 1em 0;
    div{
      background-color: #cccccc;
    }
  }
  .purchase__header{

  }
  .purchase__credit-card{

  }
}